

<! DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<!--
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	-->
</head>
<body>
	<nav class="menu">
		<label for="" class="logo">🔺MORE LOVE🔺</label>
		<ul class="menu-opc">
			<li>
				<a href="">Home</a>
			</li>

			<li>
				<a href="">Login</a>
			</li>

			<li>
				<a href="">Registro</a>
			</li>
		</ul>
		
	</nav>

	{% block content %}

	{% endblock %}

</body>
</html>
