
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Preguntas</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
		<form action="." method="post">
			{% for pregunta in preguntas %}
			<div style="background-color: rgb(193, 245, 255); margin: 5px;" class="quiz-container" id="quiz">
				<h1>{{ pregunta.pregunta }}</h1>
				<input type="number" name="correcta-{{pregunta.id}}" value="{{ pregunta.correcta }}" hidden>
				<ul>
					{% for respuesta in pregunta.respuestas %}
						<li>
							<input type="radio" name="respuesta-{{pregunta.id}}" id="respuesta-{{loop.index}}-{{pregunta.id}}" value="{{loop.index}}">
							<label for="respuesta-{{loop.index}}-{{pregunta.id}}">{{ respuesta }}</label>
						</li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
			<button type="submit" value="submit"> Enviar </button>
		</form>
		
	</body>
</html>