{% block content %}

    <!DOCTYPE html>
    <html action="/principal">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Clear Minds </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    </head>


    <body>
        <div>
        <h1>Clear Minds</h1>
        <img src="static/icono_user2.jpg" alt="icono">
            <!-- ENTER LOG IN ("BOTON ACTIVADOR")-->
            <div class="QuienesSomos">
            <h5>
                <a href="">
                <table>
                    <tr>
                    <td><a href="fuentes" target="_blank"><font color="lightgoldenrodyellow"><center>Nuestras Fuentes</center></font></a></td>
                    <td><center>Quienes Somos</center></td>                  
                    </tr>
                </table>
                </a>
            </h5>
            </div>
            <br />

            <!-- TABLA CON LA PALABRAS -->
            <table class="conespacio" border="1">

            <tr>
            <td><center>Depresion</center></td>
            <td><center>Ansiedad</center></td>
            <td><center>Bipolaridad</center></td>
            </tr>

            <tr>
            <td><center>Esquizofrenia</center></td>
            <td><center>TOC</center></td>
            <td><center>Autoagresividad</center></td>
            </tr>

            <tr>
            <td><center>Estres</center></td>
            <td><center>Disforia de genero</center></td>
            <td><center>Alzhaimer</center></td>
            </tr>

            <tr>
            <td><center>Espectro Autista</center></td>
            <td><center>Deficit Atencional</center></td>
            <td><center>Demencia</center></td>
            </tr>

            <tr>
            <td><center>Autocuidado</center></td>
            <td><center>Anorexia</center></td>
            <td><center>Bulimia</center></td>
            </tr>
            </table>
            
        </div>
    </body>
    </html>


{% endblock %}
