
body{
    margin: 20px;
    padding: 50px;
    background-image: linear-gradient(800deg,  #94bdfa 20%, #a8fdfd 100%);
    font-family: -apple-system;
    justify-content: center;
    display: flex;
    height: auto;



    }

    .tablita{
    border-radius: 10px;
    width: 690px;
    height: auto;
    margin: 90px;
    box-shadow: 5px 5px 10px rgb(255, 255, 171);
    background-image: linear-gradient(350deg,  #94bdfa 30%, #a8fdfd 90%);
    }

    table {
        width: 120px;
        margin-left: 50px;
        margin-right: 10px;
        margin-top: 10px;
    }


    table tr td {
      color: black;
      text-shadow: 5px 5px 10px rgb(255, 255, 172);
      margin: 20px;      
      }
  

    button{
        border-radius: 10px;
        background-color: #03cae4;
        box-shadow: 1px 1px 10px rgb(11, 255, 231);
        color: #fff;
        border: none;
        width: 690px;
        margin-left: -55px;
        cursor: pointer;
        font-size: 1.1rem;
        font-family: inherit;
        padding: 1.3rem;
      }
      
      button:hover{
        background-color: #04adc4;
      }
      button:focus{
        outline: none;
        background-color: #44b927;
      }


