

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(imagenVerde.jpg) no-repeat center top;
    background-size: cover; 
    font-family: -apple-system;
    height: 100vh;
    position: relative;
    
    }
      
    
    div h1{
        margin: 0;
        padding: 0;
        color: lightyellow;
        text-align: center;
        font-family: -apple-system;
        position: relative;
        top: 20px;
        text-shadow: 1px 1px 10px black;
    }
    
    div img{
        position: relative;
        margin: 0;
        padding: 0;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        top: -30px;
        right: -1450px;
        box-shadow: 1px 1px 15px black;
    }
    
    div h5 a table tr td{
        position: relative;
        color: lightgoldenrodyellow;
        right: 630px;
        bottom: 140px;
        white-space: nowrap;
        text-shadow: 1px 1px 3px rgb(73, 67, 67);
    }
    
    div table {
        color: white;
        border-collapse: separate;
        border-spacing: 40px;
        width: 100px;
        height: 100px;
        border-left: rgb(108, 108, 221);
        border-right: rgb(108, 108, 221);
        border-top: rgb(108, 108, 221);
        border-bottom: rgb(108, 108, 221);
        position: absolute;
        top: 110px;
        right: 550px;
        position: 90px;
        background-size: cover
    }
    
    div table tr td {
        color: lightgoldenrodyellow;
        box-shadow: 1px 1px 3px black;
        border-radius: 15px;
        background-color: transparent;
        padding: 4px;
        height: 30px;
        text-shadow: 1px 1px 3px black;
    
    }
    
    div table tr td:hover {
        background-color: lightblue;
        color: black;
    }